:root {
    // ---colors-start---

    // blue
    --blue-main: #1e4391;
    --blue-secondary: #4685cf;
    --blue-dark: #0f2b5e;
    --blue-60: #748ab9;
    --blue-40: #9faecd;
    --blue-20: #cad1e1;

    // red
    --red-main: #ef302b;
    --red-dark: #c0231f;
    --red-60: #f58380;

    // gray
    --gray-60: #545454;
    --gray-40: #a7a7a7;
    --gray-20: #d3d3d3;
    --background: #f6f6f6;

    // other
    --black-main: #222;
    --green: #3ba68c;
    --pink: #e54b6a;
    --orange: #e98446;
    --violet: #a08ce2;

    // ---colors-end---

    // ---any-variables-start---
    --header-height: 98px;

    // ---any-variables-end---

    // ---font-weights-start---
    --font-weight-semibold: 500;
    --font-weight-bold: 600;

    // ---font-weights-end---
}
